<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="uploads" />
        </hiddenSegments>
      </requestFiltering>
    </security>
    <rewrite>
      <rules>
        <rule name="Block Uploads Directory" stopProcessing="true">
          <match url="^uploads/.*" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Access to uploads is forbidden." />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
